body {
    background: linear-gradient(to left, #6ae2fd, #168fd8);
    font-family: sans-serif;
}

label {
    font-family: monospace;
}

.logo {
    width: 100%;
}

.logoCompleto {
    display: block;
    margin: auto;
}

div {
    display: block;
    margin: auto;
}

form {
    width: 40%;
    display: block;
    margin: auto;
    padding-top: 20px;
}

fieldset {
    border-style: none;
    border-radius: 10%;
    background-color: #168fd8;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.icon-derecha {
    width: 15%;
    float: right;
}

.icon-izq {
    width: 15%;
    float: left;
}

#credenciales,
#cuenta {
    display: none;
}

.check {
    display: none;
    width: 5%;
    float: inline-start;
}

input {
    text-align: center;
    float: right;
}
.centro{
    margin-left: 25%;
}
